@page
@model MushroomWebsite.Areas.Admin.Pages.Mushrooms.CreateModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-dark pl-3">Formularz nowego grzyba</h2>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Mushroom.Name">Nazwa</label>
            <input asp-for="Mushroom.Name" class="form-control">
            <span asp-validation-for="Mushroom.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Mushroom.Description">Opis</label>
            <textarea asp-for="Mushroom.Description" class="form-control" rows="7"></textarea>
        </div>
        <div class="mb-3">
            <label asp-for="Mushroom.IsPoisonous">Czy jest trujący:</label>
            <input asp-for="Mushroom.IsPoisonous" class="form-control col-sm-1">
        </div>
        <button type="submit" class="btn btn-primary text-white" style="width: 150px; background-color: #405018;">Zatwierdź</button>
        <a asp-page="Index" class="btn btn-primary text-white" style="width: 150px; background-color: #405018;">Powrót</a>
    </div>
</form>

@section Scripts {
    @{ 
        <partial name="_ValidationScriptsPartial"/>
    }
}