@page
@model MushroomWebsite.Areas.Admin.Pages.Mushrooms.IndexModel
@{
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-dark">Spis grzybów</h2>
        </div>
        <div class="col">
            <a asp-page="create" class="btn btn-primary text-white;" style="background-color: #405018;">
                Dodaj nowy grzyb
            </a>
        </div>
    </div>
    <br />

    <table id="myTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Nazwa</th>
                <th>Czy truje</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            processing: true,
            serverSide: true,
            filter: true,
            ajax: {
                url: '/Admin/API/Mushrooms',
                type: 'POST',
                datatype: "json"
            },
            
            columnDefs: [
                {
                    targets: -1,
                    data: null,
                    render: function (data, type, row, meta) {
                        return '<a href="/Admin/Mushrooms/edit?id=' + row.id + '">Edit</a> | <a href="/Admin/Mushrooms/View?id=' + row.id + '">Details</a> | <a href="/Admin/Mushrooms/delete?id=' + row.id + '">Delete</a>';
                    },
                    sortable: false
                },
                { name: "Id", data: "id", targets: 0, "visible": false },
                { name: "Name", data: "name", targets: 1, width: "50%" },
                { name: "IsPoisonous", data: "isPoisonous", targets: 2, width: "20%" }
            ],
            order: [[0, "desc"]]
        });
    });
    </script>
}
